@import 'modules/functions';
@import 'modules/animations';
@import 'modules/color';

@import 'partials/reset';
@import 'partials/typography';

@import 'partials/helpers';

* { @include clean; box-sizing: border-box; }
//::selection { color: color(black); }

:root {
	@include font(roboto);
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	line-height: 1.5;
	-ms-overflow-style: -ms-autohiding-scrollbar; // IE11+
	overflow-y: scroll; // All browsers without overlaying scrollbars
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%; // iOS 8+
}

body {
	background-color: color(white);
	color: color(black);
}

$navWidth: 240px;

nav {
	@include z-index(10);
	background-color: color(white);
	border-right: 1px solid rgba(0, 0, 0, .14);
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: fixed;
	transition: left .3s ease;
	width: $navWidth;

	ul {
		padding: 12px 0;

		li {
			@include font(roboto, bold, .8125);
			line-height: 1em;

			a, i {
				cursor: pointer;
				display: block;
				font-style: normal;
				padding: 15px 0 15px 22px;

				&:hover {
					background-color: color(grey, lighten-3);
				}
			}

			&.title {
				padding: 10px 0 10px 22px;
				&:hover { background-color: transparent; }
			}

			span {
				display: none;
			}

			ul {
				max-height: 0;
				overflow: hidden;
				padding: 0;
				transition: max-height .3s ease;

				li {
					@include font(roboto, regular, .8125);

					a {
						padding: 10px 0 10px 46px;
					}
				}
			}
		}
	}

	.footer {
		background-color: color(white);
		bottom: 0;
		display: block;
		position: fixed;
		width: calc(#{$navWidth} - 1px);

		p {
			@include font(roboto, regular, .75);
			padding-bottom: 5px;
			text-align: center;
		}

		a { color: color(red); }
	}
}

header {
	@include drop-shadow(1);
	@include z-index(2);
	background-color: color(red);
	height: 65px;
	left: $navWidth;
	line-height: 65px;
	position: fixed;
	transition: left .3s ease;
	width: calc(100vw - #{$navWidth});

	.category-title {
		@include font(roboto);
		color: color(white);
		padding-left: 72px;
	}
}

.toggle-menu {
	@include z-index(10);
	left: 0;
	position: fixed;
	top: 0;

	svg {
		padding: 20.5px;
	}

	&:hover {
		cursor: pointer;
	}
}

main {
	left: $navWidth;
	position: absolute;
	top: 65px;
	transition: all .3s ease;
	width: 100%;
}

article {
	display: none;
	padding-top: 80px;

	blockquote, p, h1, h2, h3, ul {
		margin: 0 0 30px;
	}

	a {
		border-bottom: 1px solid color(red);
		color: color(red);
	}

	.intro {
		@include font(roboto, regular, 1.25);
		padding-bottom: 40px;

		p {
			margin-bottom: 10px;
		}
	}

	ul {
		&.disclaimer {
			li {
				font-size: .8125rem;
				line-height: 1.5;
			}

			i, strong { @include font(roboto, regular-italic, .8125); }
			i { position: relative; top: -16px; }
		}
	}

	h1 { @include font(roboto, regular, 2.125); }
	h2 { @include font(roboto, regular, 1.5); }
	h3 { @include font(roboto, regular, 1.25); }
	h1, h2, h3 {
		color: color(red);
	}

	ol {
		padding-left: 30px;

		li {
			list-style-type: decimal;
			padding: 0 0 10px 10px;
		}
	}

	blockquote {
		border-left: 5px solid color(red);
		padding-left: 20px;

		h3 { margin-bottom: 10px; }
	}
}

footer {
	//
}

.overlay {
	@include z-index(9);
	background-color: rgba(0, 0, 0, .5);
	display: none;
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100vw;
}

.page-title {
	@include font(roboto, medium, 2);
	background-color: color(white);
	border-bottom: 1px solid rgba(0, 0, 0, .14);
	border-right: 1px solid rgba(0, 0, 0, .14);
	height: 66px;
	line-height: 65px;
	text-align: center;
	width: $navWidth;

	svg {
		height: 40px;
		vertical-align: middle;
		width: 40px;
	}
}

@import 'modules/tablet';
