@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-moz-keyframes fa-spin {
  0% {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg);
         transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
            transform: rotate(360deg); } }

/*
 :::  Reset
-------------------------------------------------- */
html {
  font-family: sans-serif; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
       box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

li {
  list-style-type: none; }

#__bs_notify__ {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 5px;
  bottom: 0 !important;
  top: auto !important; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/Roboto-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/roboto/Roboto-ThinItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/roboto/Roboto-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-MediumItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-BoldItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/roboto/Roboto-BlackItalic.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto-slab/RobotoSlab-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype"); }

h1 {
  font-size: 2.7rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 1.7rem; }

p {
  margin: 0;
  padding-bottom: 10px; }

a {
  color: #212121;
  text-decoration: none; }

sup {
  margin-left: 1px; }

.circle {
  border-radius: 50%; }

.top-left {
  left: 25px;
  position: fixed;
  top: 25px; }

.top-right {
  position: fixed;
  right: 25px;
  top: 25px; }

.bottom-left {
  bottom: 25px;
  left: 25px;
  position: fixed; }

.bottom-right {
  bottom: 25px;
  position: fixed;
  right: 25px; }

/*
 :::  Fixes
-------------------------------------------------- */
.btn-float .i-chevron-up {
  position: relative;
  top: -3px; }

figure {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

:root {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  line-height: 1.4;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  background-color: white;
  color: #212121; }

nav {
  z-index: 100;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  -webkit-transition: left .3s ease;
  -moz-transition: left .3s ease;
  transition: left .3s ease;
  width: 240px; }
  nav ul {
    padding: 12px 0; }
    nav ul li {
      font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 700;
      line-height: 1em; }
      nav ul li a {
        display: block;
        padding: 15px 0 15px 22px; }
        nav ul li a:hover {
          background-color: #eeeeee; }
      nav ul li.title {
        padding: 10px 0 10px 22px; }
        nav ul li.title:hover {
          background-color: transparent; }
      nav ul li span {
        display: none; }
      nav ul li ul {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        -webkit-transition: max-height .3s ease;
        -moz-transition: max-height .3s ease;
        transition: max-height .3s ease; }
        nav ul li ul li {
          font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
          font-size: 0.8125rem;
          font-style: normal;
          font-weight: 400; }
          nav ul li ul li a {
            padding: 10px 0 10px 46px; }

header {
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.23), 0 8px 25px rgba(0, 0, 0, 0.05);
  z-index: 20;
  background-color: #f44336;
  height: 65px;
  left: 240px;
  line-height: 65px;
  position: fixed;
  -webkit-transition: left .3s ease;
  -moz-transition: left .3s ease;
  transition: left .3s ease;
  width: -moz-calc(100vw - 240px);
  width: calc(100vw - 240px); }
  header .category-title {
    font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: white;
    padding-left: 72px; }

.toggle-menu {
  z-index: 100;
  left: 0;
  position: fixed;
  top: 0; }
  .toggle-menu svg {
    padding: 20.5px; }

main {
  left: 240px;
  position: absolute;
  top: 65px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  width: 100%; }

article h1 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 500; }

article h2 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400; }

.overlay {
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw; }

.page-title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  height: 66px;
  line-height: 65px;
  text-align: center;
  width: 240px; }
  .page-title svg {
    height: 40px;
    vertical-align: middle;
    width: 40px; }

.size {
  background-color: white;
  opacity: .2;
  position: fixed; }
  .size span {
    color: black;
    padding: 10px; }
  .size .phone, .size .tablet {
    display: none; }

@media only screen and (min-width: 1480px) {
  .toggle-menu {
    display: none; }
  header {
    left: 240px;
    width: -moz-calc(100vw - 240px);
    width: calc(100vw - 240px); }
  nav {
    left: 0;
    position: fixed; }
  main {
    left: 240px;
    width: -moz-calc(100vw - 240px);
    width: calc(100vw - 240px); }
    main article {
      margin: 0 auto;
      width: 1140px; } }

@media only screen and (max-width: 1479px) {
  .toggle-menu {
    display: block; }
  header {
    left: 0;
    width: 100vw; }
  nav {
    left: -240px;
    position: fixed; }
    nav.menu-open {
      left: 0; }
  main {
    left: 0;
    width: 100vw; }
    main article {
      margin: 0 auto;
      width: 1140px; } }

@media only screen and (max-width: 1240px) {
  main article {
    margin: 0 auto;
    width: 760px; } }

@media only screen and (max-width: 760px) {
  main article {
    margin: 0 auto;
    width: 360px; } }

@media screen and (max-width: 360px) {
  main article {
    margin: 0 auto;
    width: 100%; } }

/*# sourceMappingURL=screen.css.map */
