.size {															// Remove
	background-color: white;
	opacity: .2;
	position: fixed;

	span { color: black; padding: 10px; }
	.phone, .tablet { display: none; }
}

@media only screen and (min-width: 1480px) {
	.toggle-menu { display: none; }

	header {
		left: 240px;
		width: calc(100vw - 240px);
	}

	nav {
		left: 0;
		position: fixed;
	}

	main {
		left: 240px;
		width: calc(100vw - 240px);

		article {
			margin: 0 auto;
			width: 760px;
		}
	}
}

@media only screen and (max-width: 1479px) {
	.toggle-menu { display: block; }

	header {
		left: 0;
		width: 100vw;
	}

	nav {
		left: -240px;
		position: fixed;

		&.menu-open { left: 0; }
	}

	main {
		left: 0;
		width: 100vw;

		article {
			margin: 0 auto;
			width: 760px;
		}
	}
}


@media only screen and (max-width: 1240px) {
	main {
		article {
			margin: 0 auto;
			width: 760px;
		}
	}
}

@media only screen and (max-width: 760px) {
	main {
		article {
			margin: 0 auto;
			width: 360px;

			h1 { font-size: 1.5rem; }
			h2 { font-size: 1.25rem; }
		}
	}
}

@media screen and (max-width: 360px) {
	main {
		article {
			margin: 0 auto;
			width: 100%;

			h1 { font-size: 1.5rem; }
			h2 { font-size: 1.25rem; }
		}
	}
}
